@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rammetto+One&display=swap');


body {
  background-blend-mode: multiply;
  background: radial-gradient(87.78% 110.36% at 83.44% 19.66%, #0D1E20 0%, #32210D 50%, #262D20 100%);
  background-repeat: no-repeat;
  min-height: 100dvh;
  font-family: "Raleway", sans-serif;
}

.rammetto-one {
  font-family: "Rammetto One", sans-serif;
}
